// Import Bootstrap
@import '~bootstrap/scss/bootstrap';


// Base styles
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

// Global styles
li {
  list-style: none;
}


